.logo {
  float: left;
}

.ant-layout-header {
  display: flex;
  align-items: center;
}

.ant-layout-header h1.ant-typography {
  color: rgba(255, 255, 255, 0.3);
  margin: 0;
}

.puzzle-preview {
  margin: 0px 30px 30px 30px;
  background: white;
}

.img-wrap img {
  border: 1px solid rgb(230, 230, 230);
  margin-bottom: 25px;
}