.logo {
  float: left;
}

.ant-layout-header {
  display: flex;
  align-items: center;
}

.ant-layout-header h1.ant-typography {
  color: rgba(255, 255, 255, 0.3);
  margin: 0;
}

.puzzle-preview {
  margin: 30px;
  background: white;
}